/*CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

/*Generics*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

header{
    padding-top: 20px;
    height: 60px;
    background-color: #ff6900;
}

a{
    color: white;
    text-decoration: none;
    font-size: 0.75rem;

    &:hover{
        text-decoration: underline;
    }
}

/*Utils*/

.container{
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.container{
    margin-top: 40px;
}

.card{
    display: inline-block;
    margin: 8px;
}

.model{
    width: 340px;
}

.brand{
    font-size: 12px;
}

.characteristics{
    font-weight: bold;
    text-transform: uppercase;
}

.cost{
    display: inline-block;
    font-size: 12px;
    color: #ff6900;
    font-weight: bold;
}

.discount{
    display: inline-block;
    font-size: 12px;
    text-decoration: line-through;
}